Docs/flows.json
[{"id":"6227f312.a0900c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7ddcfe46.9b4d3","type":"inject","z":"6227f312.a0900c","name":"","topic":"","payload":"1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":120,"wires":[["51e0fc9c.1466e4"]]},{"id":"618f2f1c.f404c","type":"serial in","z":"6227f312.a0900c","name":"","serial":"89cab349.03da7","x":150,"y":40,"wires":[["a508a899.7c6738"]]},{"id":"51e0fc9c.1466e4","type":"serial out","z":"6227f312.a0900c","name":"","serial":"89cab349.03da7","x":490,"y":180,"wires":[]},{"id":"a508a899.7c6738","type":"debug","z":"6227f312.a0900c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":330,"y":40,"wires":[]},{"id":"56097a4b.4a20d4","type":"inject","z":"6227f312.a0900c","name":"","topic":"","payload":"2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":160,"wires":[["51e0fc9c.1466e4"]]},{"id":"e6dfe222.bd828","type":"inject","z":"6227f312.a0900c","name":"","topic":"","payload":"3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":200,"wires":[["51e0fc9c.1466e4"]]},{"id":"ba8676ac.f2d618","type":"inject","z":"6227f312.a0900c","name":"","topic":"","payload":"4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":240,"wires":[["51e0fc9c.1466e4"]]},{"id":"56001ce9.c1a2e4","type":"function","z":"6227f312.a0900c","name":"","func":"{111,1000,21}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":320,"wires":[["cf186b2e.74c7e8"]]},{"id":"cf456127.7d54e","type":"inject","z":"6227f312.a0900c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":320,"wires":[["56001ce9.c1a2e4"]]},{"id":"cf186b2e.74c7e8","type":"function","z":"6227f312.a0900c","name":"","func":"var->cmd\nreturn msg;","outputs":1,"noerr":8,"x":430,"y":320,"wires":[["d9de7b4b.bdf4a8"]]},{"id":"d9de7b4b.bdf4a8","type":"serial out","z":"6227f312.a0900c","x":570,"y":320,"wires":[]},{"id":"89cab349.03da7","type":"serial-port","z":"","serialport":"/dev/ttyUSB2","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"\\n","responsetimeout":"0"}]